{% load static %}
<div class="col-3 left-container">
    <a href="{% url 'home_view' %}"><i class="fab fa-twitter logo"></i></a><br>
    <h2 style="color: #fff;">Twitter Clone</h2>
    <div class="profile" style="margin:20px">
        <img src="{% get_media_prefix %}{{ user_profile.avatar }}" class="avatar">
        <h5>{{ user_info.username|capfirst }}</h5>
        <div class="row" >
            <div class="col-6"><h5 style="color: #adadad; font-size: 18px;">Followers</h5>
            </div>
            <div class="col-6"><h5 style="color: #adadad; font-size: 18px;">Following</h5>
            </div>
            {%  if user_profile != None %}
            <div class="col-6">
                <h5 class="white-important follow-click">
                    <a href="{% url 'user-followers' request.user.username %}">
                        {{ user_profile.number_of_followers }}
                    </a>
                </h5>
            </div>
             <div class="col-6">
                <a href="{% url 'user-follows' request.user.username %}">
                    <h5 class="white-important follow-click">
                        {{ user_profile.number_of_following }}
                    </h5>
                </a>
            </div>
        {% else %}
            <div class="col-6">
                <a href="{% url 'user-followers' request.user.username %}">
                    <h3 class="white-important follow-click">
                        {{ user.profile.followers }}
                    </h3>
                </a>
            </div>

            <a href="{% url 'user-follows' request.user.username %}">
                <div class="col-6">
                    <h3 class="white-important follow-click">
                        {{ user.profile.following }}
                    </h3>
                </div>
            </a>
        {%  endif %}
        </div>
        {% if user.username != user_info.username %}
            <form method="POST" action="{% url 'follow' user_info.id user.id %}">
                {% csrf_token %}
                {% if following %}
                    <button class="follow-clicked" type="submit">Unfollow</button>
                {% else %}
                    <button class="follow" type="submit">Follow</button>
                {% endif %}
            </form>
        {% endif %}
    </div>
</div>
